<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <package name="sample-sales" displayName="Sample Sales" version="1.0.0" configVersion="2.0000" url="https://github.com/ApexRMS/sample-sales">
    <transformers>
      <transformer name="sample-sales" displayName="Sample Sales" isPrimary="True">
        <runtime>
          <transformer name="sample-sales:runtime"/>
        </runtime>
        <include>
          <transformer name="stime:charts"/>
        </include>
      </transformer>
      <transformer name="sample-sales:runtime" displayName="Sample Sales" className="SampleSales.Runtime" classAssembly="SampleSales" configurationSheet="Sales_RunControl">
        <datafeeds>
          <datafeed name="sample-sales:region" displayName="Regions" dataScope="Project">
            <datasheets>
              <datasheet name="Sales_Region" displayName="Regions" valueMember="RegionID" displayMember="Name">
                <columns>
                  <column name="RegionID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="sample-sales:unit" displayName="Units" dataScope="Project">
            <datasheets>
              <datasheet name="Sales_Unit" displayName="Units" valueMember="UnitID" displayMember="Name">
                <columns>
                  <column name="UnitID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String"/>                  
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>          
          <datafeed name="sample-sales:run-control" displayName="Run Control" dataScope="Scenario">
            <datasheets>
              <datasheet name="Sales_RunControl" displayName="Run Control" isSingleRow="True">
                <columns>
                  <column name="RunControlID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="MinimumIteration" displayName="Minimum Iteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                  <column name="MaximumIteration" displayName="Maximum Iteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                  <column name="MinimumTimestep" displayName="Start Year" dataType="Integer" defaultValue="0" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="MaximumTimestep" displayName="End Year" dataType="Integer" defaultValue="0" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="MinimumIteration|MaximumIteration"/>
                  <validation validationType="LessEqual" columns="MinimumTimestep|MaximumTimestep"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="sample-sales:input-sales" displayName="Annual Sales" dataScope="Scenario">
            <datasheets>
              <datasheet name="Sales_InputSales" displayName="Annual Sales">
                <columns>
                  <column name="AnnualSalesID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="RegionID" displayName="Region" dataType="Integer" validationType="Datasheet" formula1="Sales_Region" allowDbNull="False"/>
                  <column name="UnitID" displayName="Unit" dataType="Integer" validationType="Datasheet" formula1="Sales_Unit" allowDbNull="False"/>
                  <column name="UnitPrice" displayName="Price" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0" allowDbNull="False"/>
                  <column name="MinUnitsSold" displayName="Min Units Sold" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d" allowDbNull="False"/>
                  <column name="MaxUnitsSold" displayName="Max Units Sold" dataType="Integer" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d" allowDbNull="False"/>
                  <column name="PercentIncrease" displayName="% Annual Sales Increase" dataType="Double" validationType="Decimal" validationCondition="Between" formula1="-100" formula2="100" isOptional="True" format="N2"/>                  
                </columns>
                <validations>
                  <validation validationType="Unique" columns="RegionID|UnitID"/>                  
                  <validation validationType="LessEqual" columns="MinUnitsSold|MaxUnitsSold"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="sample-sales:output-sales" displayName="Output Sales" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="Sales_OutputSales" displayName="Output Sales">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Timestep" displayName="Year" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="RegionID" displayName="Region" dataType="Integer" validationType="Datasheet" formula1="Sales_Region" allowDbNull="False"/>
                  <column name="UnitID" displayName="Unit" dataType="Integer" validationType="Datasheet" formula1="Sales_Unit" allowDbNull="False"/>
                  <column name="UnitsSold" displayName="Units Sold" dataType="Integer"/>
                  <column name="GrossSales" displayName="Gross Sales" dataType="Double" format="N2"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>                 
        </datafeeds>
      </transformer>
    </transformers>
    <layouts>
      <layout name="system-forms:library-datafeeds">
        <item name="system:multiprocessing-datafeed"/>
      </layout>
      <layout name="system-forms:project-datafeeds">
        <item name="sample-sales:region"/>
        <item name="sample-sales:unit"/>       
      </layout>      
      <layout name="system-forms:scenario-datafeeds">
        <item name="sample-sales:run-control"/> 
        <item name="sample-sales:input-sales"/>        
      </layout>
      <layout name="system-forms:result-transformers">
        <item name="stime:charts"/>
      </layout>
      <layout name="stime:charts" configurationSheet="Sales_RunControl">
        <item name="UnitsItem" displayName="Units Sold" dataSheet="Sales_OutputSales" column="UnitsSold" filter="RegionID|UnitID"/>       
        <item name="SalesItem" displayName="Gross Sales" dataSheet="Sales_OutputSales" column="GrossSales" filter="RegionID|UnitID"/>
      </layout>
    </layouts>
  </package>
</configuration>
